<div class="wrapper row0">
    <div id="topbar" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul class="faico clear">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="faico clear">
          <li><a href="#" title="Login"><i class="fa fa-sign-in"></i></a></li>
          <li><a href="#" title="Register"><i class="fa fa-user-plus"></i></a></li>
          <li><a href="#" title="Newsletter"><i class="fa fa-newspaper-o"></i></a></li>
          <li><a href="#" title="RSS Feed"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
<!-- ################################################################################################ -->
  <div class="wrapper row1">
    <div class="spacer">
      <header id="header" class="clear"> 
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
         
          <h1>Hi! {{user}}. </h1>
      
        </div>
        <div class="fl_right">

          <div class="clearfix">
            <a class="btn btn-info left"href="../"> 我的備忘錄 </a>
            <a class="btn btn-info left"href="../new/"> 新增備忘錄 </a>
            <a class="btn btn-info right" href="../logout/"> 登出 </a>
          </div>
        </div>
        <!-- ################################################################################################ -->
      </header>
    </div>
  </div> 
   <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->




  <!--  
  <div class="wrapper">
    <div id="bgslideshow">
      <ul>
       
        <li class="bgded" style="background-image:url('images/demo/slider/01.png')"><em>text 1</em></li>
        <li class="bgded" style="background-image:url('images/demo/slider/02.png')"><em>text 2</em></li>
        <li class="bgded" style="background-image:url('images/demo/slider/03.png')"><em>text 3</em></li>
        <li class="bgded" style="background-image:url('images/demo/slider/01.png')"><em>text 4</em></li>
        <li class="bgded" style="background-image:url('images/demo/slider/02.png')"><em>text 5</em></li>
        <li class="bgded" style="background-image:url('images/demo/slider/03.png')"><em>text 6</em></li>
      
      </ul>
    </div>
  </div>

-->