{% extends "base.html" %}

{% block title %}備忘錄{% endblock %}

{% block content %}
 <div class="wrapper row1" style="background-color: rgb(163, 163, 163);">
    <div class="spacer">
      <div class="container clear"> 
       
        {% if messages %}
        {% for message in messages %}
        <script>
              alert('{{ message }}');         
        </script>
        {% endfor %}
        {% endif %}

         
          {% if lists %}
          <!--訊息欄位-->

         {% for list in lists %}

            <div class="bg-dark p-3 rounded mt-3">
              <div class="spacer">
              <div class="fl_right">
                <a class="btn btn-sm btn-primary" role="button" href="edit/{{list.id}}">編輯</a>
               <a class="btn btn-sm btn-primary" role="button" href="{{list.id}}/del_re">刪除</a>
              </div>

              <p class="lead" ><a href="" style="font-size: x-large; background-color:#343a40; ">{{ list.title }}</a>
                &nbsp <span style="font-size: small; color: chocolate;">{{list.pub_time}}</span></p>
              <p class="lead"><span style="font-size: medium; color: rgb(189, 182, 182);">{{ list.content }}</span></p>
              
            </div>

              
            </div>
   
         

          {% endfor %}
        </ul>
        {% endif %}         



      </div>
    </div>
  </div>

  <div class="clear"></div>
{% endblock %}