<!DOCTYPE html>

<html lang="en-us" dir="ltr">

<head>
  <title>登入</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

  <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


  <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" login" data-admin-utc-offset="0">

  <div id="container">

    <!-- Header -->
    <div id="header">
      <div id="branding">

        {% if messages %}
        <!--訊息欄位-->
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <center>
          <h1 id="site-name"><a href="">備忘錄</a></h1>
        </center>
      </div>


    </div>
    <!-- END Header -->
    <div class="main shifted" id="main">

      <div class="content">

        <!-- Content -->
        <div id="content" class="colM">

          <div id="content-main">


          <form action="." method="post" ">
          {% csrf_token %}

          <div class=" form-row">

              {{ login_form.as_table }}

          </div>

          <div class="submit-row">
            <input type="submit" value="登入"> &nbsp;&nbsp; <a href="/register"><input type='button' value='註冊'></a>
          </div>
          
          </form>

        </div>


        <br class="clear">
      </div>
      <!-- END Content -->
      <div id="footer"></div>
    </div>
  </div>
  </div>
  <!-- END Container -->
</body>

</html>