{% extends "base.html" %}

{% block title %}備忘錄{% endblock %}

{% block content %}
 <div class="wrapper row1" style="background-color: rgb(163, 163, 163);">
    <div class="spacer">
      <div class="container clear"> 
      
        {% if messages %}
        <!--訊息欄位-->
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="." method="POST" >
            {% csrf_token %}
            <tr>
            <div style="color: black;">
            {{new_list_form.as_table}}
            </div>
            </tr>
      
        <br/>
        <input type="submit" value="存檔" style="background-color:rgb(37, 37, 37);">
        </form>

      </div>
    </div>
  </div>

  <div class="clear"></div>
{% endblock %}